/*----------------------------------- 
|               $BODY   
-----------------------------------*/

body{
    background-color: $colorBody;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: top;
}